.employeeCard{
    display:flex;
    flex-direction: row;
    background-color:lightgray;
    justify-content: space-between;
    margin:1%;
    padding:1%;
    color : rgb(3, 46, 82);
}

.employeeCard h2{
    margin: 0px;
    font-size: 200%;
}

.employeeCard p {
    margin-top:5px;
    margin-bottom: 0px;
    font-size: 100%;
}

.container {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-content: center;
    padding-left:5%;
    padding-right: 5%;
    padding-top:1%;
    
}

.cardRight {
  display:flex;
  flex-direction: row;
  align-items: center;
}


  
  @media (min-width: 500px) {
    .employeeCard {
      width: 43%;
    }
  }
  
  @media (max-width: 600px) {
    .employeeCard {
      width: 100%;
    }
  }

  @media (max-width: 600px) {
   .entries{
      display: none;
  }
}

 @media (max-width: 600px ) {
  .pageButtons{
    margin-right: 10%;
  }
 }
