.topbar {
  background-color: rgb(3, 46, 82);
  padding : 10px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.topbar h1{
  color: white;
  margin:0;
  font-size:40px;
  font-family:Arial, Helvetica, sans-serif;
}

.topbar button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer; 
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-size: larger;
}

/* .topbar button:hover {
  background-color: #45a049; /* Darker green color on hover */

.add-button {
  display: flex;
  align-items: center;
}

.add-button .button-text {
  display: inline-block;
  margin-left: 5px; /* Adjust the spacing between icon and text */
}

@media (max-width: 600px) {
  .topbar button{
    background: none;
    font-size:large
  }
  .add-button {
    display: flex;
  }
  
  .add-button .button-text {
    display: none;
  }
  
  .add-button button {
    display: none;
  }
}


